{
  "presets": [
    ["env", {
        "target": {
            "browsers": ["last 2 versions"]
        }
    }],
    "stage-2",
    "react"
    ],
    "plugins":[
        "transform-runtime"
    ],
    "env": {
      "development": {
        "presets": ["react-hmre"],
        "plugins": [
            ["import", {
                "libraryName": "antd",
                "libraryDirectory": "lib",
                "style": true
            }]
        ]
      }
    }
}
