h3,h4{
    margin: 20px 0px;
}
p{
    margin: 10px 0px;
}
pre{
    padding: 10px;
}

// aside
.aside-box{
    padding: 50px;
    .chat-box{
        margin-top: 10px;
    }
    p{
        text-indent: 0px !important;
        font-weight: 500;
    }
    .ant-card-bordered{
        border: none;
    }
}

#content{
    img{
        width: 100%;
        padding: 20px;
        box-shadow: 0px 0px 2px #eee;
    }
    pre{
        background: url('https://static.segmentfault.com/v-5976f73d/global/img/blueprint.png') #F6F6F6;
        padding: 20px;
        margin: 10px 0px;
        font-size: 16px;
        overflow: auto;
        font-weight: 300;
        text-shadow: 0 1px white;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
    }
    p{
        font-size: 14px;
        line-height: 1.6em;
        text-indent: 2em;
    }
    h2,h3,h4,h5,h6{
        color: #00a2ae;
        margin: 1.6em 0;
        &:before{
            content: " ";
            display: inline-block;
            vertical-align: bottom;
            width: 5px;
            height: 2em;
            background: #a7dfe3;
            margin-right: 20px;
        }
    }
    ul,li{
        list-style: circle;
    }
    ul{
        margin-left: 2em;
    }
}

.talk-container{
    height: 300px;
    overflow-y: auto;
    padding-left: 10px;
    .my-talk{
        text-align: right;
        .time{margin-right: 10px;}
        p{margin-right: 2em;}
    }
    p{
        margin: 0px 20px 3px 20px;
        text-indent: 0px !important;
        padding: 0px;
        font-weight: 300;
        color: #919191;
        letter-spacing: 0;
    }
    .name{
        font-size: 14px;
        font-weight: bold;
    }
    .time{
        color: #bfbfbf;
        font-size: 12px;
    }
}
.people-number{
    text-align: right;
    margin-right: 30px;
    color: #eee;
    font-size: 12px;
    margin-top: -30px;
    span{
        color: #a7dfe3;
    }
}

// 评论
.comment-box{
    margin-top: 20px;
    background: #f5f5f5;
    padding: 5px 10px;
    border: 1px solid #eee;
    .title{
        font-size: 16px;
        margin-bottom: 10px;
    }

    .out-put{
        border-radius: 5px;
        background: #fff;
        height: 150px;
        overflow-y: auto;
    }
    margin-bottom: 100px;
}
#content{
    .login-type{
        line-height: 30px;
        img{padding: 0px;width: 100%;height: 100%;vertical-align: bottom;}
        a{position: relative;z-index: 100;display: inline-block;}
    }
    .comment-content{
        background: #fff;
        margin-top: 20px;
        padding: 10px;
        img{
            padding: 0px;
        }
        .info{
            margin-top: 20px;
            .inner-comment{cursor: pointer;padding-left: 40px;color: #76cdd3;letter-spacing: 2px;}
            .inner-delete{cursor: pointer;padding-left: 10px;color: #f46e65;letter-spacing: 2px;}
        }
        .time{display: block;color:#d9d9d9;}
    }
    .userComment{
        background: #f7f7f7;
        .content{margin-right: 20px;}
        .info-one{
            border-bottom: 1px solid #fff;
            line-height: 40px;
        }
        .time{margin-left: 20px;font-size: 12px;color: #d9d9d9;}
        .inner-delete{cursor: pointer;padding-left: 10px;color: #f46e65;letter-spacing: 2px;}
    }
    .user-form{
        margin-top: 30px;
        .btn{text-align: center;}
    }
}
