h3,h4{
    margin: 20px 0px;
}
p{
    margin: 10px 0px;
}
pre{
    padding: 10px;
}

// aside
.aside-box{
    padding: 20px;
    .chat-box{
        margin-top: 30px;
    }
}
#content img{
    width: 100%;
}
